@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-family: Noto Serif Display;
}
body {
  background: #fef4e9;
  font-family: poppins;
}

h5 {
  color: transparent; /* Make the text transparent */
  -webkit-text-fill-color: transparent; /* Set the text fill color (for WebKit/Blink browsers) */
  text-fill-color: transparent; /* Set the text fill color (standard property) */
  -webkit-text-stroke: 1px #d2b976; /* Add a black stroke around the text */
  text-stroke: 1px #d2b976; /* Add a black stroke around the text */
}
.scrollbar::-webkit-scrollbar {
  display: none;
}
select {
  cursor: pointer;
}
